logs
process/*
.snakemake
raw
.idea
.Rproj.user
start_files/pb_363_001
processReads/demultiplex/orient
processReads/demultiplex/detectSiameras
processReads/demultiplex/demult/results
!process/*.cons.fasta
!process/*.table
_targets/meta/process
_targets/meta/progress
.Rhistory
kungsangen.Rproj
